@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

.fav-title {
    font-size: 96px;
    text-transform: uppercase;
    font-family: 'Urbanist', sans-serif;
    word-break: break-word;
}