@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');



.home .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.home-title {
    font-size: 124px;
    margin-bottom: 80px;
    text-transform: uppercase;
    font-family: 'Urbanist', sans-serif;
    word-break: break-word;
}

.home-info {
    padding-right: 24px;
}

.home-info p {
    text-transform: uppercase;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    text-align: center;    
}

.home-event {
    text-align: center;
    padding-top: 24px;
    padding-left: 24px;
    margin: 0 auto;
}

.home-event > p {
    text-transform: uppercase;
    font-family: 'Urbanist', sans-serif;
    font-size: 32px;   
    margin-bottom: 24px;
}

@media all and (max-width: 1024px) {
    .container {
        flex-direction: column;
    }
    .home-container {
        flex-direction: column;
        text-align: center;
        margin-top: 0px;
    }
    
    .home-title {
        font-size: 72px;
        margin-bottom: 12px;
    }

    .home-info {
        width: 100%;
        padding-right: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .home-info p {
        margin-bottom: 36px;
    }

    .home-event {
        width: 100%;
        padding-left: 0;
    }
}