.search-bar {
    padding: 2rem 1rem;
}

.search-bar input {
    font-size: 1.2rem;
    padding: .5rem 1rem;
}

.search-result {
    border: 1px solid red;
    margin: .5rem 1rem;
    padding: .5rem;
}