@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

.search-title {
    font-size: 96px;
    text-transform: uppercase;
    font-family: 'Urbanist', sans-serif;
}

.search-container form {
    margin: 12px 0 48px;
    text-align: center;
}

.search-container input, .search-container .search-btn {
    font-size: 16px;
    padding: 6px 12px;
}

.search-container input {
    width: 50%;
    text-align: center
}

.search-container .search-btn {
    cursor: pointer;
    margin-left: 12px;
}


.search-result-container {
    display: flex;
    flex-wrap: wrap;
    padding: 36px 0;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.5);
}