@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

.card {
    width: 350px;
    height: 350px;
    margin: 0 auto 24px;
    padding: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(28, 38, 74, 0.6);
    border: none;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card .event-title {
    font-weight: bold;
}

.card .event-img {
    width: 100px;
    height: 100px;
    margin: 12px auto;
}

.card .event-place {
    font-style: italic;
    margin-bottom: 12px;
}

.card .event-category {
    margin-bottom: 12px;
}

.card img {
    width: 30px;
    height: 30px;
    margin-bottom: 12px;
}

.card .event-details {
    font-style: italic;
    cursor: pointer;
    color: white;
}

.card .event-detail-link {
    text-decoration: none;
}

.home .card {
    background-color: rgba(28, 38, 74, 0.6);
    border: none;
    border-radius: 6px;
    width: 400px;
    height: 400px;
    padding: 32px;
}

@media all and (max-width: 600px) {
    .home .card {
        width: 100%;
    }
}