@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');

nav {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    font-family: 'Urbanist', sans-serif;
    position: absolute;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
nav li {
color: white;
font-weight: bold;
list-style-type: none;
padding: 6px 12px;
border-radius: 3px;
transition: ease .3s;
}

nav li:first-of-type {
    flex: 1;
}

nav li a, nav li a:visited {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 6px 12px;
    border-radius: 3px;
    transition: ease .3s;
  }

nav li a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

@media all and (max-width: 450px) {
    nav {
        padding: 10px;
    }
    nav ul {
        flex-direction: column;
    }
}